<!DOCTYPE html>
<html>
  <head>
    <title>Yearbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="content">
      <h1>Turing Yearbook</h1>

      <div class="flash-container">
        <% if flash[:success] %>
          <p class="flash" id='flash-success'>
            <%= flash[:success] %>
          </p>
        <% end %>
        <% if %>
          <p class="flash" id="flash-error">
            <%= flash[:error] %>
          </p>
        <% end %>
      </div>

      <section class="yield-content">
        <%= yield %>
      </section>

    </section>
  </body>
</html>
